<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Shop</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">E-shop</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>

            <div sec:authorize="hasRole('ROLE_USER')" th:if="${blackFridayStarted}">
                <div sec:authorize="hasRole('ROLE_USER')">
                    <li class="nav-item active">
                        <a class="nav-link" href="/products/black-friday">Black Friday</a>
                    </li>
                </div>
            </div>


            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">

                <li class="nav-item">
                    <a class="nav-link" href="/orders">Orders</a>
                </li>

            </div>


            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/products" id="navbarDropdownMenuLink1"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/products">Show</a>
                        <a class="dropdown-item" href="/products/new">Create</a>
                    </div>
                </li>
            </div>


            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/users" id="navbarDropdownMenuLink2"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/users">Show</a>
                        <a class="dropdown-item" href="/register/employee">Create Employee</a>
                    </div>
                </li>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/black-friday" id="navbarDropdownMenuLink3"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Black Friday
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <div th:if="${!blackFridayStarted}">
                            <a class="dropdown-item" href="/black-friday/start">Start</a>
                        </div>

                        <div th:if="${blackFridayStarted}">
                            <a class="dropdown-item" href="/black-friday/stop">Stop</a>
                        </div>

                        <a class="dropdown-item" href="/black-friday">Show</a>
                    </div>
                </li>
            </div>


        </ul>
    </div>


    <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
        <button class="btn btn-outline-success" type="submit" value="Login">Login</button>
    </form>

    <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
        <span sec:authentication="name"></span>
        <button class="btn btn-outline-danger" type="submit" value="Logout">Logout</button>
    </form>


</nav>


<div class="container-fluid table-resposive">
    <table class="table">

        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <div sec:authorize="hasRole('ROLE_USER')">
                <th scope="col">Pick quantity</th>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
                <th scope="col">Choose</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name} "></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.quantity}"></td>

            <div th:if="${product.addedToBlackFriday==0 || !blackFridayStarted}">
                <td th:text="${product.price}"></td>
            </div>
            <div th:if="${product.addedToBlackFriday==1 && blackFridayStarted}">
                <td th:text="${product.reducedPrice}"></td>
            </div>

            <div sec:authorize="hasRole('ROLE_USER')">
                <td>
                    <form th:action="@{/orders/new}" th:object="${order}" class="pull-right"
                          method="post">
                        <div class="input-group mb-3">
                            <input class="form-control" th:type="number" th:min="1" th:max="${product.quantity}"
                                   id="code"
                                   th:field="${order.quantity}"/>

                            <input th:value="${product.id}" name="productId" hidden="true"/>

                            <div th:if="${product.addedToBlackFriday==0 || !blackFridayStarted}">
                                <input th:value="${product.price}" name="price" hidden="true"/>
                            </div>

                            <div th:if="${product.addedToBlackFriday==1 && blackFridayStarted}">
                                <input th:value="${product.reducedPrice}" name="price" hidden="true"/>
                            </div>

                            <div class="input-group-append">
                                <button class="btn btn-success" role="button">Buy</button>

                            </div>
                        </div>
                    </form>
                </td>
            </div>


            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">

                <td>
                    <div class="input-group">
                        <div class="input-group-append" id="button-addon4">

                            <a th:href="@{/products/update/{id}(id = ${product.id})}" class="btn btn-warning"
                               role="button">Update</a>

                            <form th:action="@{/products/delete/{id}(id = ${product.id})}" class="pull-right"
                                  method="post">
                                <button class="btn btn-danger" role="button"> Delete</button>
                            </form>

                        </div>
                    </div>
                </td>
            </div>

        </tr>
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>
