<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Shop</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">E-shop</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>

</nav>

<div class="row justify-content-center">
    <form th:action="@{/register}" th:object="${user}" method="post">
        <fieldset>
            <h1>Register</h1>

            <p>
                <i th:if="${error != null}" th:text="${error}" class="error"></i>
            </p>


            <div class="form-group">
                <input type="text" name="username" id="username" class="form-control input-lg"
                       th:field="*{username}" placeholder="Username" required="true"
                       autofocus="true"/>
                <i class="error" th:errors="*{username}"></i>

                <input type="password" name="password" id="password" class="form-control input-lg"
                       th:field="*{password}"
                       placeholder="Password" required="true"/>
                <i class="error" th:errors="*{password}"></i>

            </div>

            <div class="row">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register"/>

            </div>
        </fieldset>

    </form>
</div>

</body>
</html>
