<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">E-shop</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>

            <div sec:authorize="hasRole('ROLE_USER')" th:if="${blackFridayStarted}">
                <div sec:authorize="hasRole('ROLE_USER')">
                    <li class="nav-item active">
                        <a class="nav-link" href="/products/black-friday">Black Friday</a>
                    </li>
                </div>
            </div>


            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">

                <li class="nav-item">
                    <a class="nav-link" href="/orders">Orders</a>
                </li>

            </div>


            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/home" id="navbarDropdownMenuLink1"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/home">All</a>
                        <a class="dropdown-item" href="/products/new">Create</a>
                    </div>
                </li>
            </div>


            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/users" id="navbarDropdownMenuLink2"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/users">All</a>
                        <a class="dropdown-item" href="/register/employee">Create Employee</a>
                    </div>
                </li>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/black-friday" id="navbarDropdownMenuLink3"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Black Friday
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <div th:if="${!blackFridayStarted}">
                            <a class="dropdown-item" href="/black-friday/start">Start</a>
                        </div>

                        <div th:if="${blackFridayStarted}">
                            <a class="dropdown-item" href="/black-friday/stop">Stop</a>
                        </div>

                        <a class="dropdown-item" href="/black-friday">Show</a>
                    </div>
                </li>
            </div>


        </ul>
    </div>


    <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
        <button class="btn btn-outline-success" type="submit" value="Login">Login</button>
    </form>

    <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
        <span sec:authentication="name"></span>
        <button class="btn btn-outline-danger" type="submit" value="Logout">Logout</button>
    </form>


</nav>

<div class="row justify-content-center">

    <form th:action="@{/products/update}" th:object="${product}" th:method="put">

        <div th:if="${error != null}">
            <div class="alert alert-danger">
                <span th:text="${error}">Dummy Data</span>
            </div>
        </div>

        <input th:value="${product.id}" th:field="*{id}" type="hidden">

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Name">Name</span>
                </div>
                <input th:value="${product.name}" th:field="*{name}" type="text"
                       class="form-control input-lg" placeholder="Name"
                       aria-label="Name"
                       required="true" autofocus="true">
                <i class="error" th:errors="*{name}"/>
            </div>
        </div>


        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="description">Description</span>
                </div>
                <input th:value="${product.description}" th:field="*{description}" type="text"
                       class="form-control input-lg" placeholder="Description"
                       aria-label="Description"
                       autofocus="true">
            </div>
        </div>


        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="minPrice">Minimum price</span>
                </div>
                <input th:value="${product.minPrice}" th:field="*{minPrice}" type="text"
                       class="form-control input-lg"
                       placeholder="Minimum price"
                       required="true" autofocus="true">
                <i class="error" th:errors="*{minPrice}"/>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="price">Price</span>
                </div>
                <input th:value="${product.price}" th:field="*{price}" type="text" class="form-control"
                       placeholder="Price" aria-label="Price"
                       required="true" autofocus="true">
                <i class="error" th:errors="*{price}"/>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="quantity">Quantity</span>
                </div>
                <input th:value="${product.quantity}" th:field="*{quantity}" type="text" class="form-control"
                       placeholder="Quantity"
                       aria-label="Quantity"
                       required="true" autofocus="true">
                <i class="error" th:errors="*{quantity}"/>
            </div>
        </div>

        <div class="form-group ">
            <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Update</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>
